/*!
Theme Name: Capranea
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 2.2.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: capranea
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Capranea is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* css reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #dbdbdb;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;

}

ol, ul {
	list-style: none;
}

img { 
	max-width: 100%;
	height: auto;
}

/* --- fonts --- */

@font-face {
    font-family: 'Lato-Regular';
    src: url('https://mestech.co/wp-content/themes/capranea/assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('https://mestech.co/wp-content/themes/capranea/assets/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Garogier';
    src: url('https://mestech.co/wp-content/themes/capranea/assets//fonts/Garogier.ttf') format('truetype');
}



/* --- home page --- */


.lookbook-container {
	height: 100vh;
	position: relative;
	width: 100%;
	display: flex;
	background-image: url('https://capranea.com/finalstaging/wp-content/themes/capranea/assets/images/lookbook-background.jpg');
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 110%;
	margin-bottom: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.lookbook {
	height: 450px;
	max-width: 450px;
	background-color: rgba(75, 74, 66, 0.95);
	width: 34%;
	color: #dbdbdb;
}

.title h2{
	display: flex;
	justify-content: space-between;
	font-family: 'Lato-Light', serif;
	font-size: 12pt;
	color: #696868;
	letter-spacing: 5.5pt;
}

.lookbook:nth-of-type(1) {
	left: 16%;
}

.lookbook-slider {
	right: 16.2%;
	background-color: rgba(75, 74, 66, 0.8);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat; 
}


.lookbook-slider img {
	position: relative;
	width: 30px;
}

.left {
	top: 45%;
	left: 5%;
}

.right {
	top: 45%;
	left: 80%;
}

.previemodebutton {
	top: 85%;
	left: 72%;
}
@media (max-width: 500px) {
	.previemodebutton {
		top: 85%;
		left: 69%;
	}
	.right {
		top: 45%;
		left: 80%;
	}
	
}

.closepreviemodebutton {
	position: relative;
	width: 30px;
	left: 90%;
	top: 10px;
}

#lookbook-text {
	position: relative;
	width: 80%;
	margin: auto;
	text-align: center;
}

.lookbook h4 {
	position: absolute;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 8pt;
	letter-spacing: 4pt;
	margin-bottom: 50px;
	left: 0;
	right: 0;
	top: 80px;
}

.lookbook-text-description-container {
	padding: 10px;
	max-width: 450px;

}

.lookbook-text-description-container img{
	align: right;
}


.lookbook-text-description {
	font-family: 'Lato-Light', sans-serif;
	font-size: 10pt;
	line-height: 15pt;
   
	text-align: center;
	color: white;
	margin: 30% 0px;
}

.lookbook p:nth-of-type(1) {
	position: absolute;
	font-family: 'Lato-Light', sans-serif;
	font-size: 10pt;
	line-height: 15pt;
	left: 0;
	right: 0;
	top: 140px;
}

.lookbook p:nth-of-type(2) {
	position: absolute;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 7pt;
	font-weight: 700;
	letter-spacing: 5pt;
	left: 0;
	right: 0;
	top: 370px;
	line-height: 0.9;
}

.lookbook p:nth-of-type(2) img {
	width: 12px;
	margin-left: 5px;
} 

.lookbook div {
	position: relative;
	width: 100%;
	height: 100%;
}

.lookbook img {
	position: relative;
}

.shadowlookbook {
	position: absolute;
	background-color: rgba(161, 161, 158, 0.2);
	width: 68%;
	height: 450px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 900px;
	
}



.shadowlookbook .related-products {
	background-color: white;
	width: 100%;
	height: 100%;
	border: 1px;

}



.related-products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	padding: 10px;
	max-width: 450px;

}

.shadowlookbook .slider {
	background-color: rgba(92, 92, 90, 0.3);
	width: 100%;
	height: 100%;
}

@media (max-width: 700px) {
	.shadowlookbook .slider {
		max-height: 400px;
	}
}

.home-slide {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	-webkit-transform:translateZ(0);
}

.home-slide-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-slide-content h1 {
	font-size: 52px;
	font-family: 'Lato';
	color: white;
	font-weight: 900;
	letter-spacing: 8px;
	text-align: center;

}

.top-slider-arrow-left {
	position: absolute;
    top: 45%;
    left: 20px;
	z-index: 400;
	
} 


.top-slider-arrow-right {
	position: absolute;
    top: 45%;
    right: 20px;
    z-index: 400;
} 

.top-slider-arrow-left img, .top-slider-arrow-right img {    
	height: 40px;
	width: auto;
	}

.products-container-slider-arrow {
	max-width: 40px;
	position: absolute;
	top: 45%;
}

.products-container-slider-arrow-right { 
	right: 5px;
	z-index: 400;
}

.products-container-slider-arrow-left { 
	left: 5px;
	z-index: 400;
}



.homeslide-content {
	width: 25%;
	min-width: 300px;
}

.menu-container {
	width: 100%;
	position: fixed;
	z-index: 99;
}

.menu-container-dummy {
	width: 100%;
	position: static;
	z-index: 999999;
	height: 89px;
}

.dummy {
	width: 70px;
}



.logo-container {
	background-color: #fff;
	width: 100%;
	min-height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-name{
	display: flex;
	margin: auto;
	padding: 10px 0;
}

.logo-scrolled {
	height: 70px;
}

#logo {
	display: none;
}

.menu-content {
	display: flex;
	width: 100%;
	justify-content: space-between; 
	padding: 3px 0;
	position: relative;
	background-color: rgba(195, 195, 195, 0.9);
}

.menu-inner-container {
	display: flex;
	width: 100%;
	max-width: 900px;
	justify-content: center;
	margin: 0 auto;
	max-height: 20px;

} 

.menu-links {
	width: 80%;
	display: flex;
	justify-content: center;
}

.menu-links div {
	margin-right: 25px;
}

.menu-content div:nth-of-type(6) {
	background-color: #808080;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 1;
}

.menu-content div:nth-of-type(6) a {
	font-size: 6pt;
}

.menu-content div:nth-of-type(6) img {
	display: none;
	width: 8.5px;
	
    margin-left: 23px;
    margin-top: -8px;
}

.menu-content div:nth-of-type(6) a:hover img {
	display: block;
}

.menu-content a {
	text-decoration: none;
	font-size: 10pt;
	font-weight: 500;
    font-family: 'Lato-Regular', sans-serif;
    color: #fff;
    letter-spacing: 1pt;
}

.menu-content .sub-menu a {
	font-size: 8pt;
	font-weight: 700;
   
}

.dropdown-trigger {
	position: relative;
}

#dropdown-container {
	display: none;
    position: absolute;
    width: 110px;
    padding: 0 0 5px 0;
    top: 23px;
    left: -20px;
    background-color: rgba(100, 100, 100, 0.8);
}

#dropdown-container div {
	width: 84%;
    margin: auto;
    line-height: 1.25;
}

#dropdown-container div a {
    font-size: 6.3pt;
}

.dropdown-trigger:hover #dropdown-container {
	display: block;
}



.dropdown-trigger-languages a {
	    background-color: #808080;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
}

#dropdown-languages div {
	width: 84%;
    margin: auto;
    line-height: 1.25;
}

#dropdown-languages div a {
    font-size: 6.3pt;
}

.dropdown-trigger:hover #dropdown-languages {
	display: block;
}

.social-media-icons {
	display: flex;
	flex-direction: row;
	width: 70px;
	justify-content: flex-end;
	align-items: center;
}

.social-media-icon {
	width: 20px;
	margin-left: 5px;
}

.responsive-menu-container {
	display: none;
}



.responsive-menu-container {
	display: none;
}


.slider-container {
	background-size: cover;
	background-position: center;
	height: calc(100vh - 89px);
	width: 100%;

}

.slider-button {
	background-color: #383838 !important;
	color: white !important;
	padding: 10px;
}


.first-slide {
	background-image: url('https://mestech.co/wp-content/themes/capranea/assets/images/background-slider-1.jpg');
	background-size: cover;
	background-position: center;
	height: calc(100vh - 89px);
	width: 100%;
}

.home-slide-content {
	height: 300px;
}

.home-slide-content h2 {
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	letter-spacing: 3px;

}
.home-slide-content h2 a {
	text-transform: uppercase;
}
.home-slide-content h3, .home-slide-content a {
	margin-top: 20px;
	text-transform: uppercase;
}

.home-slide-content a {
	color: white;
	margin: 20px 10px;
}


.second-slide {
	background-image: url('https://mestech.co/wp-content/themes/capranea/assets/images/background-slider-2.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;

}

.slick-slide {
	height: calc(100vh - 89px) !important;
}


.bestseller {
	width: 87%;
	margin: auto;
	margin-bottom: 150px;
	max-width: 1080px;
}

.bestseller-title {
	display: flex;
	justify-content: space-between;
	font-family: 'Garogier', serif;
	margin: 150px 0 70px 0;
}

.bestseller-title h2 {
	font-size: 12pt;
	color: #4d4d4d;
	letter-spacing: 5.5pt;
}

.bestseller-title a {
	text-decoration: none;
}

.bestseller-title h3 {
	font-size: 7.5pt;
	color: #999;
	letter-spacing: 3pt;
}

.bestseller-title span {
	font-size: 10.5pt;
	font-family: Times, serif;
}

.products-container {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 700px ) {
		.products-container {
			display: flex !important;
			max-height: 420px;

		}

		.zoo-cw-group-attribute {
			width: 100%;
			max-width: 300px;

		}

		.zoo-cw-group-attribute {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

	
}




.products-content {
	text-align: center;
}

/* .products-content div {
	width: 30%;
	margin: auto;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	margin-top: 20px;
} */

.products-content h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
	font-weight: 700;
	line-height: 20pt;
}

.products-content h5 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
	text-transform: uppercase;
}

.products-content p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #666;
	line-height: 20pt;
	letter-spacing: 2pt;
}

.responsive-products-container {
	display: none;
}



.responsive-lookbook-content {
	display: none;
}

.highlights {
	width: 87%;
	margin: auto;
	margin-bottom: 150px;
}

.highlights-title {
	display: flex;
	justify-content: space-between;
	font-family: 'Garogier', serif;
	margin-bottom: 55px;
}

.highlights-title h2 {
	font-size: 12pt;
	color: #4d4d4d;
	letter-spacing: 5.5pt;
}

.highlights-title a {
	text-decoration: none;
}

.highlights-title h3 {
	font-size: 7.5pt;
	color: #999;
	letter-spacing: 3pt;
}

.highlights-title span {
	font-size: 10.5pt;
	margin-left: 6px;
	font-family: Times, serif;
}

.highlights-container {
	display: flex;
	justify-content: space-around;
}

.highlights-content {
	width: 25%;
	text-align: center;
}

.highlights-content div {
	width: 30%;
	margin: auto;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	margin-top: 20px;
}

.highlights-content h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
	font-weight: 700;
	line-height: 20pt;
}

.highlights-content h5 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
}

.highlights-content p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #666;
	line-height: 20pt;
	letter-spacing: 2pt;
}

.responsive-highlights-container {
	display: none;
}

.about-container {
	height: 400px;
	width: 100%;
	position: relative;
	background-image: url('https://mestech.co/wp-content/themes/capranea/assets/images/background-slider-1.jpg');
	background-size: 110%;
	background-position: top;
	background-repeat: no-repeat;
	margin-bottom: 150px;
}

.about-overlay {
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: rgba(75, 74, 66, 0.5);
}


.dark-overlay-row-container {
	width: 100%;
	min-height: 400px;
	background-color: rgba(75, 74, 66, 0.5);	
}
  
.about-container img {
	position: absolute;
	top: -6.8%;
    right: 6.5%;
}

.about-text {
	position: absolute;
	width: 30%;
	left: calc((100vw - 1080px)/2);
	top: 15%;
	color: #fff;
}

.about-text p {
	position: absolute;
    line-height: 1.5;
    font-family: 'Lato-Light', sans-serif;
    font-size: 10.5pt;
    letter-spacing: .5pt;
	top: 95px;
	max-width: 500px;
}

.about-text h3 {
	position: absolute;
	font-family: 'Garogier', serif;
	letter-spacing: 5pt;
    font-size: 12pt;
}

.about-text h4 {
	font-family: 'Lato-Regular', sans-serif;
    position: absolute;
    top: 55px;
    font-size: 8.8pt;
    letter-spacing: 1pt;
    font-weight: 700;
}

.about-text h4:nth-of-type(2) {
    top: 265px;
}

#about-link-arrow { /* -------- id added */
    padding-top: 5.5px;
    width: 8px;
    left: 120px;
}

.responsive-about-container {
	display: none;
}



.latest-news {
	width: 87%;
	margin: auto;
	margin-bottom: 150px;
	max-width: 1080px;
}

.latest-news-title {
	display: flex;
	justify-content: space-between;
	font-family: 'Garogier', serif;
	margin-bottom: 55px;
}

.latest-news-title h2 {
	font-size: 12pt;
	color: #4d4d4d;
	letter-spacing: 5.5pt;
}

.latest-news-title a {
	text-decoration: none;
}

.latest-news-title h3 {
	font-size: 7.5pt;
	color: #999;
	letter-spacing: 3pt;
}

.latest-news-title span {
	font-size: 10.5pt;
	margin-left: 6px;
	font-family: Times, serif;
}

.latest-news-container {
	display: flex;
	justify-content: space-between;
}

.latest-news-content {
	width: 30%;
}

.latest-news-text {
	font-family: 'Lato-Regular', sans-serif;
}

.latest-news-text h5 {
	font-size: 9pt;
	letter-spacing: 2pt;
	margin: 20px 0;
}

.latest-news-text p {
	font-size: 10pt;
	line-height: 1.75;
	letter-spacing: 0.4pt;
}

.latest-news-text a {
	text-decoration: none;
	color: #000;
}

.latest-news-content h5 img {
	width: 15px;
    height: 8px;
}

footer {
	width: 100%;
}

.no-social-bar {
	/*display: none;*/
	background-color: #4b4a42;
	padding: 80px 0 100px 0;
}

.logo-footer {
	margin: auto;
	margin-bottom: 90px;
}

.footer-container {	
	border-top: 1px solid #959595;
	border-bottom: 1px solid #959595;
	width: 65%;
	margin: auto;
	padding: 8.5px 0;
}

.footer-content {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.footer-content p {
	color: #cecece;
    font-family: 'Lato-Light', sans-serif;
    font-size: 9pt;
    letter-spacing: .5pt;
}

.copy {
	width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.copy p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #e3e3e3;
}

.with-social-bar {

	width: 100%;
	background-color: #d2d1cb;
}

.social-bar-container {
	width: 87%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding: 60px 0;
	max-width: 1080px;
}
 
.social-col {
	width: 30%;
}

.social-col h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 11pt;
	color: #414141;
	font-weight: 700;
	letter-spacing: 4.5pt;
	margin-bottom: 20px;
}

.social-col p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
	color: #414141;	
	line-height: 1.55;
	/*font-weight: 600;*/
}

/* ------ responsive ------------------------- */

@media (min-width: 320px) and (max-width: 720px) {

	.menu-container {
		display: none;
	}

	.menu-container {
		display: none;
	}

	.responsive-menu-container {
		width: 100%;		
		display: block;
		position: fixed;
		background-color: #fff;
		z-index: 999999;
		
	}

	.responsive-menu-content {
		width: 85%;
		margin: auto;
		justify-content: space-between;
		position: relative;
		display: flex;
	}

	.responsive-menu {
		width: 30px;
	    display: block;
	    position: relative;
	    top: 10px;
	    left: 10px;
	    z-index: 1;
	    -webkit-user-select: none;
	    user-select: none;
	}

	.responsive-menu input {
		display: block;
	    width: 40px;
	    height: 32px;
	    position: absolute;
	    top: -7px;
	    left: -5px;
	    cursor: pointer;
	    opacity: 0;
	    z-index: 2;
	}

	.responsive-menu span {
	    display: block;
	    width: 33px;
	    height: 4px;
	    margin-bottom: 5px;	   
	    background: #000;
	    z-index: 1;
	}

	.responsive-menu-links {
		display: none;
	}

	.bestseller {
		margin-bottom: 100px;
	}

	.bestseller-title {
		display: block;
		margin: 90px 0 0px 0;
		line-height: 2;
	}

	.bestseller-title h3 {
		font-size: 8.5pt;
	}

	

	.responsive-products-container {
		display: block;
		position: relative;
	}

	.products-content {
		width: 80%;
		margin: auto;
	}		

	.products-content img {
		margin: 0 auto !important;
	}

	/*.products-content div {
		width: 35%;
	} */

	.products-nav {
		width: 40px;
		position: absolute;
		top: 40%;
	}

	.prod-nav-next {
		right: 2%;
	}

	
	
	
	

	.highlights-container {
		display: none;
	}

	.responsive-highlights-container {
		display: block;
		position: relative;
	}

	.highlights-title {
		display: block;
		margin: 90px 0 50px 0;
		line-height: 2;
	}

	.highlights-title h3 {
		font-size: 8.5pt;
	}

	.highlights-content {
		width: 70%;
		margin: auto;
	}		

	.highlights-content div {
		width: 35%;
	}

	.highlights-content .prod-nav-next {
		right: 4%;
	}

	.about-container {
		display: none;
	}

	.responsive-about-container {
		display: block;
		height: 600px;
		width: 100%;
		position: relative;
		background-image: url('https://mestech.co/wp-content/themes/capranea/assets/images/background-slider-1.jpg');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		margin-bottom: 90px;
	}

	.about-overlay {
		height: 600px;
	}

	.responsive-about-content {
		position: absolute;
    	width: 82%;    
    	left: 8.5%;
	}

	.about-img {
		margin-bottom: 20px;
		margin-top: -20px;
	}

	.about-text {
		position: unset;
		width: 100%
	}

	.about-text h3, .about-text h4, .about-text p {
		position: unset;
		margin-bottom: 15px;
	}

	.about-text h3 {
		margin-bottom: 25px;
		font-size: 13pt;
	}

	.about-text h4 {
		font-size: 9.8pt;
	}

	.about-text p {
		font-size: 11pt;
	}

	.about-text img {
		left: 130px;
	}

	.latest-news {
		margin-bottom: 0;
	}

	.latest-news-title {
		display: block;
	}

	.latest-news-container {
		display: block;
	}

	.latest-news-content {
		width: 90%;
		margin: auto;
		margin-bottom: 80px;
	}

	.no-social-bar {
		display: none;
		padding: 60px 0 80px 0;
	}

	.footer-content {
		width: 95%;
		display: block;
		padding-left: 30px;
	}

	.logo-footer {
		margin-bottom: 75px;
	}

	.footer-content p:nth-of-type(even) {
		display: none;
	}

	.footer-content p {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.with-social-bar {
		/*display: none;*/
		display: block;
	}

	.social-bar-container {
		display: block;
	}

	.social-col {
		width: 90%;
	    margin: auto;
	    margin-bottom: 50px;
	}

	.menu-container-dummy {
		display: none;	
	}
    
}

/* ------ Lookbook --------------------------------- */



@media (max-width: 420px) {
	.previemodebutton {
		left: 67%;
	}

	.right {
		left: 77%;
	}

	.closepreviemodebutton {
		
		left: 85%;
		top: 20px;
	}

}

@media (max-width: 360px) {

	.sizes-title {
		width: 270px !important;
	}




}

@media (max-width: 500px) {

.right {
	left: 72%;
}


.closepreviemodebutton {
	

	top: 20px;
}

.home-slide-content h1 {
	font-size: 42px;
	font-family: 'Lato';
	color: white;
	font-weight: 800;
	letter-spacing: 6px;
	text-align: center;

}


}


@media (min-width: 0px) and (max-width: 920px) {
	.lookbook-container {
		flex-direction: column-reverse;
		height: 1000px !important;
	}

	.lookbook {
		width: 90%;
	}

	.shadowlookbook {
		flex-direction: column-reverse;
		width: 90%;
		height: 90%;
		max-width: 450px;
		max-height: 850px;
	}

	.related-products-container {
		padding: 17px;
	}

	.lookbook-text-description-container {
		padding: 0px;
	}


	

}


@media (min-width: 0px) and (max-width: 720px) {

	.menu-container {
		display: none;
	}

	.responsive-menu-container {
		width: 100%;		
		display: block;
		position: fixed;
		background-color: #fff;
		z-index: 999999;
		padding: 10px 0;

	}

	.responsive-menu-content {
		width: 85%;
		margin: auto;
		justify-content: space-between;
		position: relative;
		display: flex;
		padding: 5px 0;
	}

	.responsive-menu {
		width: 30px;
	    display: block;
	    position: relative;
	    top: 10px;
	    left: 10px;
	    z-index: 1;
	    -webkit-user-select: none;
	    user-select: none;
	}

	.responsive-menu input {
		display: block;
	    width: 40px;
	    height: 32px;
	    position: absolute;
	    top: -7px;
	    left: -5px;
	    cursor: pointer;
	    opacity: 0;
	    z-index: 2;
	}

	.responsive-menu span {
	    display: block;
	    width: 33px;
	    height: 4px;
	    margin-bottom: 5px;	   
	    background: #000;
	    z-index: 1;
	}

	#responsive-menu-links {
		display: none;
	}

	.bestseller {
		margin-bottom: 100px;
	}

	.bestseller-title {
		display: block;
		margin: 90px 0 0px 0;
		line-height: 2;
	}

	.bestseller-title h3 {
		font-size: 8.5pt;
	}

	.responsive-products-container {
		display: block;
		position: relative;
	}

	.products-content {
		width: 80%;
		margin: auto;
	}		



	/*.products-content div {
		width: 35%;
	} */

	.products-nav {
		width: 40px;
		position: absolute;
		top: 40%;
	}

	.prod-nav-next {
		right: 2%;
	}

	.lookbook-container {
		height: 100vh;
		padding: 75px 0;
		background-position: unset;   
	    background-size: cover;
	    margin-bottom: 100px;
	}

	.highlights-container {
		display: none;
	}

	.responsive-highlights-container {
		display: block;
		position: relative;
	}

	.highlights-title {
		display: block;
		margin: 90px 0 50px 0;
		line-height: 2;
	}

	.highlights-title h3 {
		font-size: 8.5pt;
	}

	.highlights-content {
		width: 70%;
		margin: auto;
	}		

	.highlights-content div {
		width: 35%;
	}

	.highlights-content .prod-nav-next {
		right: 4%;
	}

	.latest-news {
		margin-bottom: 0;
	}

	.latest-news-title {
		display: block;
	}

	.latest-news-container {
		display: block;
	}

	.latest-news-content {
		width: 90%;
		margin: auto;
		margin-bottom: 80px;
	}

	.no-social-bar {
		padding: 60px 0 80px 0;
	}

	.footer-content {
		width: 95%;
		display: block;
		padding-left: 30px;
	}

	.logo-footer {
		margin-bottom: 75px;
	}

	.footer-content p:nth-of-type(even) {
		display: none;
	}

	.footer-content p {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.with-social-bar {
		display: block;
	}

	.social-bar-container {
		display: block;
	}

	.social-col {
		width: 90%;
	    margin: auto;
	    margin-bottom: 50px;
	}

	.search-bar {
		padding-bottom: 15px;
	}

	input[type=text], select {
		width: 200px;
	}
	p #username {
		width: 100% !important;
	}

	.views-container {
		display: none;
	}

	.products-genders, .products-types {
		display: block;
		text-align: center;
	}

	.products-genders h2 {
		margin-bottom: 10px;
	}

	.products-types h3 {
		margin-bottom: 15px;
	}
    
    .products-list {
    	display: block;
    	width: 100%;
    }

    .list-prod-cont {
    	width: 100%;
    	display: flex;
    	margin-bottom: unset;
    	margin-left: -15px;
	}

	.list-prod-cont a {
		display: block;
		width: 50%;
	}

	.name-price-product {
	    visibility: visible;
	    width: 50%;
	    text-align: center;
	}

	.product-container {
		display: block;
	}

	.product-image {
		width: 100%;
		padding-top: 30px;
		margin-top: unset;
	}

	.product-content {
		padding-top: unset;
		text-align: center;
	}

	.product-title div {
		margin: auto;
	}

	.colors {
		margin: auto;
    	justify-content: center;
	}

	.sizes-title {
		width: 317px;
		margin: auto;
		margin-top: 25px;
	}

	.sizes {
		justify-content: center;
		flex-wrap: wrap; 
		margin-top: 20px;
	}

	.storefinder {
		padding-top: 25px;
		margin: auto;
	}

	.more-product-content {
		display: block;
	}

	

	.more-product-content div {
		width: 100%;
	}

	.product-materials {
		width: 100% !important;
	}

	.procedures {
		width: 100%;
		margin-top: 40px;
		margin-left: unset;
	}

	.goes-well-with {
		width: 80%;
	}

	.goes-with-product {
		width: 100%;
	}
}



/* ------ responsive /// tablet -- product-page ----------------- */

@media (min-width: 720px) and (max-width: 900px) {

   	.list-prod-cont {
	    width: 50%;
	}

	.name-price-product {
		visibility: visible;
	}

	.view:nth-of-type(3) {
		display: none;
	}

/* ------ /// breakpoint ----------- */
	.latest-news-content {
		width: 45%;
	}

	.latest-news-container {
    	flex-wrap: wrap;
   	}

}

@media (min-width: 0px) and (max-width: 1020px) {

   	.goes-with-content {
   		flex-wrap: wrap;
   	}

   	.goes-with-product {
   		width: 50%;
   	}

}

@media (min-width: 720px) and (max-width: 1130px) {

   	.products-container {
   		flex-wrap: wrap;
   	}
}



/* ------ responsive /// about ------------------------------------ */

@media (min-width: 0px) and (max-width: 990px) {

	.about-container {
		display: none;
	}

	.responsive-about-container {
		display: block;
		height: 600px;
		width: 100%;
		position: relative;
		background-image: url(images/background-slider-1.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		margin-bottom: 90px;
	}

	.about-overlay {
		height: 600px;
	}

	.responsive-about-content {
		position: absolute;
    	width: 82%;    
    	left: 8.5%;
    	display: flex;
    	flex-direction: column;
	}

	.about-img {
		margin-bottom: 20px;
		margin-top: -20px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.about-text {
		position: unset;
		width: 100%
	}

	.about-text h3, .about-text h4, .about-text p {
		position: unset;
		margin-bottom: 15px;
	}

	.about-text h3 {
		margin-bottom: 25px;
		font-size: 13pt;
	}

	.about-text h4 {
		font-size: 9.8pt;
	}

	.about-text p {
		font-size: 11pt;
	}

	.about-text img {
		left: 130px;
	}

	#about-link-arrow {
		width: 11px;
		/* ----------- margin removed */
		padding-top: 3px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 500px) and (max-width: 720px) {

	.about-img {
		width: 85%;
		margin-top: -30px;
	}

	.about-text {
		width: 85%;
		margin: auto;
	}

	.responsive-about-container, .about-overlay {
		height: 650px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 721px) and (max-width: 850px) {

	.about-img {
		width: 80%;
		margin-top: -35px;
	}

	.about-text {
		width: 80%;
		margin: auto;
	}

	.responsive-about-container, .about-overlay {
		height: 700px;
	}
	
}

/* ------ /// breakpoint ----------- */

@media (min-width: 851px) and (max-width: 990px) {

	.about-img {
		width: 75%;
		margin-top: -40px;
	}

	.about-text {
		width: 75%;
		margin: auto;
	}

	.responsive-about-container, .about-overlay {
		height: 700px;
	}
	
}

/* ------ /// breakpoint ----------- */


@media (min-width: 991px) and (max-width: 1020px) {

	.about-container {
		height: 380px;
	}

	.about-overlay {
		height: 380px;
	}

	.about-text {
		top: 10%;
	}

	.about-text h4:nth-of-type(2) {
		top: 300px;
	}

	.about-container img {
		width: 55%;
		top: -9.8%;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1021px) and (max-width: 1040px) {

	.about-container img {
		width: 53%;
		top: -5.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1041px) and (max-width: 1100px) {

	.about-container img {
		width: 52%;
		top: -6.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1101px) and (max-width: 1150px) {

	.about-container img {
		width: 50%;
		top: -7.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1151px) and (max-width: 1200px) {

	.about-container img {
		width: 47%;
		top: -5.8%;
	}

}


/* ------ /// breakpoint ----------- */

@media (min-width: 1201px) and (max-width: 1270px) {

	.about-container img {
		width: 44%;
		top: -5.5%;
	}

}


/* ------ /// breakpoint ----------- */

@media (min-width: 1021px) and (max-width: 1040px) {

	.story-image {
		width: 53%;
		top: -5.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1041px) and (max-width: 1100px) {

	.story-image {
		width: 52%;
		top: -6.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1101px) and (max-width: 1150px) {

	.story-image {
		width: 50%;
		top: -7.8%;
	}

	.about-text h4:nth-of-type(2) {
		top: 290px;
	}

}

/* ------ /// breakpoint ----------- */

@media (min-width: 1151px) and (max-width: 1200px) {

	.story-image {
		width: 47%;
		top: -5.8%;
	}

}


/* ------ /// breakpoint ----------- */

@media (min-width: 1201px) and (max-width: 1270px) {

	.story-image {
		width: 44%;
		top: -4%;
	}

	
}

@media (min-width: 1300px) {

	.story-image {

		max-height: 600px;
		width: auto !important;
		right: calc((100vw - 1090px)/2) !important;
		top: -5% !important;
	}

	
}




/* ------ responsive /// breakpoint --------------------------------- */

@media (min-width: 720px) and (max-width: 960px) {

	.more-product-content {
		display: block;
	}

	.procedures {
		margin-top: 30px;
		margin-left: unset;
	}

}




/* ------ responsive /// footer --------------------------------- */

@media (min-width: 1100px) and (max-width: 1200px) {

	.footer-content {
		width: 78%;
	}
}

/* ------ /// breakpoint ----------- */

@media (min-width: 721px) and (max-width: 800px) {

	.footer-container {
		width: 85%;
	}

	.footer-content {
		width: 87%;
	}
}

/* ------ /// breakpoint ----------- */

@media (min-width: 801px) and (max-width: 900px) {

	.footer-container {
		width: 77%;
	}

	.footer-content {
		width: 87%;
	}
}

@media (min-width: 901px) and (max-width: 1099px) {

	.footer-container {
		width: 78%;
	}

	.footer-content {
		width: 81%;
	}
}


/* retail */

.retail-login-container {
	max-width: 700px;
	margin: 0 auto;
}

.form input[type="text"], .form input[type="email"], .form input[type="number"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="password"], .form input[type="date"], .form input[type="color"], .form select {
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777;
    border: 1px solid rgba(0,0,0, .1);
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.page-title-section-padding-custom {
    padding-top: 110px;
	padding-bottom: 60px;
	background-color: #111;

}

.page-header {
    padding-top: 150px;
    padding-bottom: 60px;
}

.page-header {
	background-color: #111;
	display: flex;
}

.page-header-text {   
margin: 0 auto; 
font-size: 16px;
color: #FFF;
position: relative;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.5em;
line-height: 1.8;
opacity: .9;
font-family: "Times New Roman", Times, serif;
}	

#login_btn {
	height: auto;
    padding: 6px 17px;
    font-size: 11px;
	letter-spacing: 1px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container {
	max-width: 1080px;
	margin: 150px  auto 20px auto;

}

.content-area {
	margin: 0 auto;
	max-width: 1280px;
	padding: 30px;

}

.woocommerce {
	display: flex;
	flex-direction: column;
}

.login-page-main-continer {
	display: flex;
	flex-direction: column;
}


.login-form-container {
	width: 350px;
    max-width: 100%;
	margin: 40px auto;
}

.woocommerce-form-login p {

	width: 350px; 
	max-width: 100%;

}

.loginpage-text-field {
	width: 100% !important;
}

.login-form-field {
    height: 37px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 12px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

    display: inline-block;
    height: 27px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777;
    border: 1px solid rgba(0,0,0, .1);
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

	margin: 5px 0;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

}


.btn-mod.btn-small {
    height: auto;
    padding: 6px 17px;
    font-size: 11px;
    letter-spacing: 1px;
}
.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.woocommerce-LostPassword {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	color: #989898;
	font-size: 11px;
}


.login-forget-and-button {
	display: flex;
	justify-content: space-between;
}

.btn-grey, .wc-forward, .button, .wc-stripe-checkout-button {
		color: #777;
		background: #e5e5e5;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4px 13px;
		margin: 0 5px;
	
		border: 2px solid transparent;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	
}

@media (max-width: 700px) {
	.btn-grey, .wc-forward, .button, .wc-stripe-checkout-button {
		margin: 0px;
	}
}


.onlineshop-login-title {
    font-size: 14px;
    color: #808080;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 1.3em;
    line-height: 1.4;
	font-weight: 400;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button-container {
	display: flex;
    flex-direction: column;
}



/* ------ product --------------------------*/

.product-container {
	width: 87%;
	margin: auto;
	display: flex;
	position: relative;
	justify-content: space-around;
	margin-bottom: 50px;
}

@media (max-width: 800px) {
	.product-container {
		flex-direction: column;
	}
	.product-content {
		padding-top: 0px !important;
	}
	.sizes-title {
	
		justify-content: center !important;
	}
	.woocommerce-variation-add-to-cart {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.single_add_to_cart_button {
		justify-content: center;
		max-width: 300px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
}
.product-image {
	width: 50%;
	margin-top: 20px;
	align-self: center;
}

.product-content {
	padding-top: 135px;
}

.product-title {
	margin-bottom: 50px;
}

.product-title h3 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 19pt;
	color: #111;
	letter-spacing: 2pt;
	margin-bottom: 7px;
}

.product-title h4 a {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #d64639;
	letter-spacing: 1.5pt;
	margin-bottom: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.product-title p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 7.5pt;
	color: #808080;
	margin-bottom: 25px;
}

.product-title div {
	text-align: center;
	width: 30%;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}

.product-title div p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9.3pt;
	color: #666;
	line-height: 20pt;
	letter-spacing: 2pt;
	margin-bottom: unset;
}

.product-colors {
	margin-bottom: 45px;
}

.product-colors h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
	color: #808080;
	letter-spacing: 1pt;
	margin-bottom: 25px;
}

.colors {
	width: 72%;
	display: flex;
/* remove -----------
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
*/
}

.color-container {
	width: 45px;
	height: 45px;
	border-right: 1px solid #949494;
/* ---- added ---------------------- */
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
}

.color {
	width: 22px;
    height: 22px;
    margin: 11px; /* <- changed ------------ */
    background-color: #000;
}

.color-container:last-child {
	border-right: none;
}

.product-sizes h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #808080;
}

.sizes-title {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 25px 0;
}

.sizes-title h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
    color: #808080;
    letter-spacing: 1pt;
}

.sizes-title a {
	text-decoration: none;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
    color: #777;
    letter-spacing: 1pt;
    background-color: #e5e5e5;
    padding: 7.5px;
    margin-top: -7px;
}

.sizes {
	width: 100%;
	display: flex;
/* ------- remove ---------------------
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
*/
}

#picker_pa_color {
	max-width: 300px;
}

.swatch-wrapper {
	width: 40px;
	height: 40px;
	border-right: 1px solid #949494;
/* --------- added ----------------------------------- */
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
	margin: 0 0px 0px 0 !important; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.swatch-wrapper:last-child {
	border-right: none;
}

.swatch-wrapper:nth-child(2) {
	border-left: none;
}

div.swatch-wrapper.selected {
	background-color: #e3e3e3 !important;
		border: 1px solid #383838 !important;
}

.swatch-wrapper a {
	width: 15px !important;
	height: 15px !important;
	display: flex;
    justify-content: center;
    align-items: center;

}

.woocommerce-variation-add-to-cart .quantity {
	margin-top: 25px;
}

.quantity label {
	font-family: 'Lato-Regular', sans-serif;
    font-size: 10pt;
    color: #808080;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

.qty {
	max-width: 40px;
    border-width: 0px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 10pt;
    color: #808080;
    letter-spacing: 1pt;
    text-transform: uppercase;
    text-decoration: underline;
}



.single_add_to_cart_button {
    display: flex;
	margin-top: 25px !important;
	text-transform: uppercase;
	text-decoration: none;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 8.5pt;
    letter-spacing: 2.5pt;
    color: #e8e8e8;
    background-color: #383838;
    padding: 10px 30px !important;
	text-align: center;
	margin: 0;
    padding: 0;
    font-weight: normal;
	-webkit-font-smoothing: antialiased;
	border-width: 0px !important;
}

.size {
	width: 22px;
    height: 22px;
    margin: 14px 11px; /* ------- changed -------- */
}

.size p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 8pt;
	text-align: center;
	font-weight: 600;
}

.storefinder {
	width: 200px;
	display: flex;
	margin-top: 25px;
}

.storefinder a {
	text-decoration: none;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 8.5pt;
	letter-spacing: 2.5pt;
	color: #e8e8e8;
	background-color: #383838;
	padding: 10px 30px;
	text-align: center;
}

.storefinder img {
	width: 8px;
}

.storefinder-content h2 {
	font-size: 12pt;
	letter-spacing: 2pt;
	margin: 20px 0;
}
.storefinder-content p {
	font-size: 10pt;
	line-height: 1.75;
	letter-spacing: 0.4pt;
	margin-bottom: 20px;
}



.more-product-content {
	display: flex;
	width: 87%;
	max-width: 960px;
	margin: auto;
	justify-content: space-between;
}
@media (max-width: 700px) {
	.more-product-content {
		flex-direction: column;
	}
}

.materials-content-open{
	height: auto !important;
  }

.product-materials > .product-materials-content {
	display: flex;
    width: 350px;
    justify-content: space-between;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 15px 20px;
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	flex-wrap: wrap;
	height: 50px;
	overflow: hidden;
	align-content: flex-start;
	max-width: 100%;
}
.product-materials > .product-materials-content-care{

width: 600px;

}


.product-materials-content:hover {
	background-color: rgba(238, 238, 238, 0.5);
} 

@media screen and (min-width: 48em) {
ul.products li.product {
    margin-right: 0.1% !important; 
}
}



.product-materials h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
    letter-spacing: 2pt;
	color: #777;
	text-transform: uppercase;
}

.product-materials a {
	text-decoration: none;
}

.product-materials span {
	display: block;
	width: 8px;
	transform: rotate(90deg);
}

.back-button {
    margin-top: 25px;
}

.back-button a {
	display: inline-block;
    text-decoration: none;
    color: #777;
    font-family: 'Lato-Regular';
    font-size: 9pt;
    letter-spacing: 1pt;
    background-color: #e5e5e5;
	padding: 6.5px 12px;
	letter-spacing: 15px;
}

.back-button img {
    width: 7.5px;
    transform: rotate(180deg);
    margin-right: 5px;
    padding-top: .5px;
}

.procedures {
	width: 600px; /* ---------- changed */
	margin-left: 40px; /* --------- added */

	padding: 15px;
	border: 1px solid #eee;
}

@media (max-width: 700px) {
	.procedures {
		width: 350px;
		margin-left: 0px; 
	}
}

.procedures h4, .procedures ol, .procedures span {
	margin: 10px 0;
	font-family: 'Lato-Regular', sans-serif;
    font-size: 10pt;
    letter-spacing: 1pt;
    color: #777;
}

.procedures h4:first {
	font-size: 12pt !important;
	text-transform: uppercase;

}

.goes-well-with {
	width: 87%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 80px;
	max-width: 960px;
}

.goes-well-with .woocommerce-LoopProduct-link {
	max-width: 30% !important;
}

.goes-well-with h3 {
	font-family: 'Garogier', Times, serif;
	font-size: 12pt;
    letter-spacing: 5.5pt;
    color: #4d4d4d;
}

.goes-with-content {
	display: flex;
}

.goes-with-product, {
	width: 30%;
	text-align: center;
}

.goes-with-product div  {
	width: 30%;
	margin: auto;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	margin-top: 20px;
}

.goes-with-product h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
	font-weight: 700;
	line-height: 20pt;
}

.goes-with-product h5 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #000;
	letter-spacing: 2pt;
}

.goes-with-product p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	color: #666;
	line-height: 20pt;
	letter-spacing: 2pt;
}


/* ------ products page ---------------------- */

.products-header {
	width: 87%;
	margin: auto;
	padding-top: 130px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(175, 175, 175, 0.5);
    margin-bottom: 80px;
  
}

.search-bar {
	display: flex;
	align-items: center;
}

.search-bar span {
	background-image: url(https://mestech.co/wp-content/themes/capranea/assets/images/search-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-right: 7px;
}

input[type=text], select {
	
    width: 300px;
}

input[type=text]:focus {
	outline: none;
}

.views-container {
	display: flex;
	font-size: 8pt;
}

.view {
	width: 50px;
	height: 50px;
	padding: 17px;
}

.products-cat {
	width: 87%;
	margin: auto;
	/*
	padding-top: 255px;
	*/
}

.products-cat a {
	text-decoration: none;
	color: #afafaf;
}

.products-genders, .products-types {
	display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Lato-Regular', sans-serif;
    color: #afafaf;
    margin-bottom: 50px;
}

.products-genders h2 {
	margin-right: 20px;
    margin-left: 20px;
    font-size: 12pt;
    letter-spacing: 3pt;
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.products-genders h2:active, .products-genders h2:hover {
	color: #000;
}

.products-types h3 {
	margin-right: 30px;
    margin-left: 30px;
    font-size: 9pt;
    letter-spacing: 4pt;
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.products-types h3:active, .products-types h3:hover {
	color: #d64639;
}

#selected-gender {
	color: #000;
}

#selected-type {
	color: #d64639;
}

.products-list {
	width: 87%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.list-prod-cont {
	width: 25%;
	margin-bottom: 50px;
}

.list-prod-cont:hover .name-price-product {
	visibility: visible;
}

.name-price-product {
	visibility: hidden;
	width: 100%;
	margin: auto;
	text-align: center;
}

.name-price-product h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	letter-spacing: 2pt;
	margin-bottom: 5px;
}

.name-price-product h5 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 9pt;
	letter-spacing: 2pt;
	margin-bottom: 10px;
}

.prod-pg-colors {
	width: 100%;
	display: flex;
	justify-content: center;
}

.prod-color-cont {
	width: 30px;
	height: 30px;
	border-right: 1px solid #949494;
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
}

.prod-pg-color {
	width: 15px;
    height: 15px;
    margin: 7.5px;
    background-color: #000;
}

.prod-color-cont:last-child {
	border-right: none;
}

.woocommerce-product-gallery {
	max-width: 450px;
	margin: 0px 20px;
}    

.flex-control-nav {
	display: flex;
	margin-top: 20px;
}


.products-content a {
	text-decoration: none;
}

.woocommerce-message {
	margin: 100px auto 0px auto;
}



.woocommerce-product-gallery__trigger {
	display: none;
}


.goes-well-with ul a {
	font-family: 'Lato-Regular', sans-serif;
    font-size: 9pt;
    color: #000;
    letter-spacing: 2pt;
    font-weight: 700;
    line-height: 20pt;
    text-decoration: none;
}


.goes-well-with ul li {
	width: 30%;
    text-align: center;
}

ul.products {
	width: 100%;
}

.woocommerce-error, .woocommerce-message, .woocommerce-info {
	

    max-width: 900px;
    margin: 10px auto;

}



.woocommerce-error li {
	padding: 10px;
    font-family: lato;
	color: white;
	text-align: center;
}

.woocommerce-message {
	padding: 10px;
    font-family: lato;
	color: white;
	text-align: center;
}


.woocommerce-info {
	padding: 10px;
    font-family: lato;
    color: white;
}


.woocommerce-breadcrumb {
	display: none;
}

figure {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 00px;
}

.woocommerce-cart-form, .cart-collaterals {
	margin: 0 auto;
}

.form-row {
	margin: 10px 0px;
}

.woocommerce-form-login-toggle + form {
	margin: 0 auto;

}


.product-page-tabs {
	border: 0px;
    width: auto;
}

.tabs {
	padding-top: 20px;
	font-size: 14px;
    line-height: 1.8;
    color: #777;
}

.link-tab-descrion {
	width: 95%;

}

.more-product-content-inner {
	display: flex !important;
}


.storefinder-container {
	max-width: 300px;
    margin: 10px auto;
}

.storefinder-content a {
	color: rgb(155, 155, 155);
}

.storefinder-stores {
	max-width: 600px;
    margin: 0 auto;
}

#menu-footer {
	display: flex;
	list-style-type: none;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	color: #cecece;
    font-family: 'Lato-Light', sans-serif;
    font-size: 9pt;
	letter-spacing: .5pt;
	text-transform: uppercase;
}

#menu-footer li {
	margin: 0 10px;
}

#menu-footer a {
	color: #cecece;
	text-decoration: none;
}
 

#menu-primary {
	display: flex;
    justify-content: space-between;
	text-transform: uppercase;
	align-items: center;
}

#menu-primary .menu-item-has-children {
	
	text-align: left;
	

}


#menu-primary .menu-item {
	height: 23px;

}

.menu-language-item a {
	color: #4B4A42;
}

#menu-primary > .menu-item {
	margin: 0 10px;
}

#menu-primary .menu-item-has-children .sub-menu .menu-item {
	height: auto !important;
}



.post-container {
	display: flex;
	max-width: 960px;
	font-size:   14px;
	margin: 0 auto;

}

.archive-container .post-container {
	max-width: 660px;
	
}

.post-container p {
    margin: 0 0 2em 0;
}

.blog-post-container .entry-content .entry-title {
	font-size: 9pt;
    letter-spacing: 2pt;
    margin: 20px 0;
    font-weight: normal;
    color: #000;
    margin-bottom: 10px;
}

.post-container  .entry-meta {
	padding: 0px;
	margin-bottom: 15px;
	min-width: 130px;
	padding-top: 0px;
}

.entry-meta a {
	color: rgb(131, 130, 130)
}


.entry-title a {
	margin: 0 0 .5em 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111;
}

.page-title-section-padding-custom {
    display: none;
}

.page-numbers {

    display: flex;
    flex-direction: row;

}

.page-numbers li {
	margin: 5px;
}

ul.products {
    content: "";
    display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 48em) {
ul.products li.product {
	width: 18% !important;
}
}

.woocommerce-loop-product__title {
	text-align: center !important;
	margin: 0 0 3px 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
    line-height: 1.2 !important ;
    color: #000;
}

.loop-price {
	display: flex;
	justify-content: center;
	font-family: 'Lato-Regular', sans-serif;
    font-size: 9pt;
    color: #666;
    line-height: 20pt;
    letter-spacing: 2pt;
}

.loop-price p span {
	display: flex;
	justify-content: center;
}



#post-4421, #post-1962, #post-3617, #post-3617, #post-3621 {
	max-width: 600px;
	margin: 0 auto;
	min-height: 300px;
}

#post-122, #post-121 {
	max-width: 1080px;
    margin: 0 auto;
}

#post-4421 .entry-title, #post-1962  .entry-title{
    font-size: 25px;
}

.ewd-ufaq-date, .ufaq-faq-categories, .ewd-ufaq-author-date {
	display: none;
}

div.ufaq-faq-title h4 	{
	color: #a1a1a1;
}



.woocommerce-LoopProduct-link .zoo-cw-wrap-shop .zoo-cw-group-attribute {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.wpcf7-form-control {
	max-width: 230px;
	
}

.wpcf7-submit {
	color: #777;
		background: #e5e5e5;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4px 13px;
	
		border: 2px solid transparent;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

}

.product-top-wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 960px;

}





@media (max-width: 600px) {
	.product-top-wrapper {
		flex-direction: column;
	}
}

.woocommerce-LoopProduct-link .zoo-cw-wrap-shop .attribute_pa_size {
	display: none;
}


.woocommerce-LoopProduct-link .zoo-cw-wrap-shop .attribute_pa_grosse {
    display: none;
}

.woocommerce-LoopProduct-link .zoo-cw-wrap-shop .attribute_pa_colors  .zoo-cw-attribute-option:first {
	margin-left: 5px !important;
}

.product-top-wrapper .entry-summary {

    display: flex;
    justify-content: center;
	align-items: flex-start;

	flex-direction: column;
	

}

@media (min-width: 900px) {
	.product-top-wrapper .entry-summary {
		width: 483px; 
	}
}

.woocommerce-LoopProduct-link {
	max-width: 18%;
}
@media (max-width: 1080px) {
.woocommerce-LoopProduct-link {
	max-width: 20%;
}
}

@media (max-width: 800px) {
	.woocommerce-LoopProduct-link {
		max-width: 22% !important;
	}
	}

	@media (max-width: 700px) {
		.woocommerce-LoopProduct-link {
			max-width: 30% !important;
		}
	}

	@media (max-width: 600px) {
		.woocommerce-LoopProduct-link {
			max-width: 50% !important;
		}
		}		
			
		@media (max-width: 400px) {
			.woocommerce-LoopProduct-link {
				max-width: 100% !important;
			}
			}		
				

@media (min-width: 700px) {
	.woocommerce-LoopProduct-link #reveal-on-hover {
		opacity: 0;
		-webkit-transition: opacity 1s;
		transition-timing-function: ease-in;
	}
	
	.woocommerce-LoopProduct-link:hover #reveal-on-hover {
		opacity: 1.0;
		-webkit-transition: opacity 1s;
		transition-timing-function: ease-in;
	}
	
}


ul.zoo-cw-variations {
	max-width: 400px;
}

.privacy-warning {
	margin-top: 5px;
}

.privacy-warning a {
	color: white;
}

.single_variation p {

	max-width: 400px;
}



.rc-anchor-light {
	max-width: 100%;
}


.wpcf7-form-control-wrap input {
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 10px;  
}

.wpcf7-submit {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px !important;
}

.wpcf7-form label {
    font-size: 8.5pt;
    color: #414141;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

.wpcf7-textarea {
    height: 80px;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 3px;
}


.zoo-cw-attr-item {

    padding: 3px !important;
}

.single_variation_wrap .single-variation {
	height: 30px;
}

/* blog */


.archive-container {
max-width: 960px;
margin: 0 auto;
}

.archive-container .entry-title {
	display: flex;
}

.post-category-page-flex {
	display: flex;
	margin-bottom: 30px;
	
}

.post-category-page-flex .post-thumbnail {
	width: 300px !important;
	padding: 2px;
}

.post-category-page-flex div {
	width: 400px;
	padding: 0px 5px 0px 15px;
}

.post-category-page-flex div h2 a {
	font-size: 9pt;
    letter-spacing: 2pt;
	margin: 0px 0;
	font-weight: normal;
	color:   #000;
	margin-bottom: 10px;
}

.post-category-page-flex p {
	font-size: 10pt;
    line-height: 1.75;
    letter-spacing: 0.4pt;

}

.posted-on {
	width: 150px !important;
}




.entry-summary .product_title {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 19pt;
	color: #111;
	letter-spacing: 2pt;
	margin-bottom: 7px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.entry-summary .product_meta {

display: flex;
flex-direction: column-reverse;


}
.product_meta .posted_in, .product_meta .posted_in a  {
font-family: 'Lato-Regular', sans-serif;
font-size: 9pt;
color: #d64639;
letter-spacing: 1.5pt;
margin-top: 18px;
margin-bottom: 18px;
text-transform: uppercase;
}
.product_meta  .sku_wrapper {
font-family: 'Lato-Regular', sans-serif;
font-size: 7.5pt;
color: #808080;
margin-bottom: 25px;
margin-bottom: 18px;
text-transform: uppercase;
}



.zoo-cw-attr-row div.label label,  
.zoo-cw-attr-row div.label .zoo-cw-name {
	font-family: 'Lato-Regular', sans-serif;
font-size: 10pt !important;
color: #808080 !important;
letter-spacing: 1pt !important;
margin-bottom: 0px;
font-weight: normal !important;


}

.woocommerce-variation-price {
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}

.price .woocommerce-Price-amount {
font-family: 'Lato-Regular', sans-serif;
font-size: 9.3pt;
color: #666;
line-height: 20pt;
letter-spacing: 2pt;
margin-bottom: unset;

}
.woocommerce-variation-price {
	max-width: 150px;
    text-align: center;
}

.woocommerce-variation-price .out-of-stock {
	max-width: 150px;
    text-align: center;
    margin-top: 12px;
}

.language-switcher-circle {
	background-color: #808080;
	margin-left: 10px;
	width: 20px;
height: 20px;
text-align: center;
border-radius: 100%;
line-height: 1;

}

.language-switcher-circle a {

text-decoration: none;
font-size: 7.5px ;
font-weight: 800;
font-family: 'Lato-Regular', sans-serif;
color: #fff;
letter-spacing: 1pt;
margin-left: 1px;
display: flex;
align-items: center;
justify-content: center;
}

.language-switcher-options-container {
	display: none;
}

.dropdown-trigger-languages:hover .language-switcher-options-container {
	display: flex;
}

.language-switcher-options-container {
	position: relative;
    left: 8.5px;
    background-color: rgba(0,0,0,0);
}


.language-switcher-option a {


	background-color: #808080;
    
    text-align: center;
	border-radius: 0% !important;
	line-height: 1;
	padding: 6px;
	font-size: 7.5px;
	font-weight: 800;
	


}	
/* retail services menu specific code */
#menu-item-877, #menu-item-3612 { 
line-height: 11px;
margin-top: 4px;
}



.blog-post-container {
	max-width: 600px;
    margin: 0 auto;
}

.blog-post-container h1 {
	font-size: 9pt;
    letter-spacing: 2pt;
    margin: 10px 0;
}



/* care instructions */

.care-instructions-header {
	background-image: url("https://capranea.com/uploaded/care_instructions.jpg");
	min-height: 400px;
	max-height: 50%;
	width: 100vw;
}




.row {
	display: flex;
	max-width: 1080px;
	margin: 0 auto;

}

.column {
	max-width: 50%;
	padding: 30px;
	padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 600px) {


	.goes-well-with ul.products {
		display: flex;
		flex-direction: column;
	} 
	.goes-well-with .woocommerce-LoopProduct-link {
		max-width: 100% !important; 
	}

	
	.single_add_to_cart_button {
		margin-bottom: 20px;
	}

	.product-materials > .product-materials-content {
	padding: 10px 20px;
	}

	.responsive-logo-menu {
		display: flex;
		align-items: center;
	}

	.zoo-cw-group-attribute {
		display: flex;
		justify-content: center;
	}

	.product-top-wrapper .entry-summary  {
		display: flex;
		align-items: center;
	}

	.product-top-wrapper .woocommerce-variation {
		display: flex;
		justify-content: center;
	}

	.zoo-cw-attr-row .label {
		display: flex;
		justify-content: center;
	}

	.sku_wrapper {
		display: flex;
		justify-content: center;
	}

	.quantity {
		display: flex;
		justify-content: center;
	}

	.storefinder-content {
		margin: 30px 20px 30px 20px;
	}

	.storefinder-content hr {
		margin-top: 20px;
	}
	

	.sub-menu {
		background-color: #C9C9C9 !important;
	}
	.storefinder-container {
		padding-top: 20px;
	}

	.post-category-page-flex {
		
		flex-direction: column;
	}

	.post-category-page-flex div {
		width: 100%;
		padding: 20px ;

	}

	.post-category-page-flex h2 {
		margin-top: 20px ;

	}

	.post-category-page-flex .post-thumbnail {
		width: 100% !important;
		padding: 2px;
	}
	.post-category-page-flex div {
		padding: 0px;
	}

}

.second-row-container {
	width: 100%;
}


.grey-row-container {
	background-color: #F4F4F4;
}

.care-instructions-text-container h1 {
	font-family: 'Lato-Regular', sans-serif;
    font-size: 11pt;
    color: #414141;
    font-weight: 700;
    letter-spacing: 4.5pt;
	margin-bottom: 20px;
}
.care-instructions-text-container h2 {
font-size: 12px;
color: #000;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 20px;
}

.care-instructions-text-container p {
	font-size: 14px;
	color: #000;
	margin-bottom: 20px;
	line-height: 15pt;
}


.care-instructions-header-overlay {
	
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 400px;
  
}

.care-instructions-header-overlay h1 {
font-weight: 900;
font-size: 36px !important;
color: white;
text-align: center;
}


.content-page-header {
	background-color: #4B4A42;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-page-header h2 {
	color: white;
	font-family: 'Garogier', serif;
	letter-spacing: 3.5pt;
	font-size: 12pt;
	margin-bottom: 0px;
	font-weight: 500;
	line-height: 15pt;
	text-transform: uppercase;
}

/* about us */
.about-us-row-filler {
	min-width: 50%;
}

.img-row-container {
	background: url('https://capranea.com/uploaded/1443616736-1519.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center; 
	background-size: auto;
}

@media (max-width:500px) {
	.img-row-container {
		background-position: top; 
	background-repeat: repeat-y;
	background-attachment: fixed !important;
	
	}
}

.img-row-container h2, .img-row-container p {
	color: white;
	line-height: 15pt;

}

.img-row-container a {
	color: white;
	text-decoration: underline;
	line-height: 15pt;
}

@media (max-width: 900px) {
	.row {
	flex-direction: column;
	}

	.column {
		max-width: 100%;
		padding: 20px;
	}

	.about-us-row-filler {
		display: none;
	}

	
	
	
}



/* login form */

.login-form {
	margin-top: 10px;
	width: 350px;
	max-width: 100%;
}

.login-form h4 {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10pt;
	margin-bottom: 20px;
    letter-spacing: 2pt;
	color: #777;
	text-transform: uppercase;
}

.login-form a {
	text-decoration: none;
}

.login-form span {
	display: block;
	width: 8px;
	transform: rotate(90deg);
}


.login-form > .login-form-content {
	display: flex;
    width: 350px;
    justify-content: space-between;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 15px 20px;
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	flex-wrap: wrap;
	height: 50px;
	overflow: hidden;
	align-content: flex-start;
	max-width: 100%;
}



.login-form-content:hover {
	background-color: rgba(238, 238, 238, 0.5);
} 

.login-form-open{
	height: auto !important;
  }


@media (max-width:600px) {
	.login-form > .login-form-content {
		padding: 10px 20px;
		}
}

.storefinder-content hr:last-of-type{
	visibility: hidden;
	margin-bottom: 50px;
}


.cart-widget {
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: #D2D1CB;
}

.cart-widget img {
	max-height: 20px;
	margin: 0 10px;
}

.cart-widget a span {
	color: #4B4A42;
	margin: 5px;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
  
    background-color: #D2D1CB !important;
	
	
}

.woocommerce-message a {
	color: white;
	text-decoration: underline;
}