/** GLOBAL **/
/****************************************************************************************/
a { cursor: pointer !important; }
.page-title-custom { font-size: 16px; color:#FFF; }
.page-section-padding-bottom-custom { padding-bottom: 80px; }
.page-section-padding-custom { padding-bottom: 80px; padding-top: 80px; }
.page-title-section-padding-custom { padding-top: 110px; padding-bottom: 60px; }
.content-custom-text h4{ font-size: 12px; color:#000; font-weight: 700; padding-left: 60px; padding-right: 90px; }
.content-custom-text p{ font-size: 14px; color:#000;  padding-left: 60px; padding-right: 90px; }
.content-custom-text p.white, .content-custom-text h4.white { color:#FFF;  }
.white p {  color:#FFF !important;  }
.content-custom-text-no h4 { font-size: 12px; color:#000; font-weight: 700; }
.content-custom-text-no p { font-size: 14px; color:#000; }
.top-custom-bar { position: fixed; margin-top: 55px; background: rgba(255,255,255, .45); height: 65px; }
.top-custom-bar a { height: 65px; }
.top-custom-bar a span{ background: none; border-left: 1px solid #FFF; font-size: 12px; color:#000;  font-weight: 700; padding-top: 5px; padding-bottom: 5px; height: 65px; }
.top-custom-bar a.nolink span { border: none; cursor: default;}
.top-custom-bar a.nolink span:hover{  background: none; }
.content-banner { height: 380px; }
.custom-select {  }
.contact-button { text-align: right; }
.uppercase { text-transform: uppercase; }
.lspace { letter-spacing: 1px; }
.gray-text { color:#808080; }
.orange-text { color:#d64639; }
.form-title { margin-left: 5px; }
.login-information { display: block; position: fixed; top: -10px; right: 10px; opacity: 1; z-index: 1031; font-size: 10px; font-weight: 700; text-decoration: none; text-transform: uppercase; letter-spacing: 2px; }
.login-information a { text-decoration: none; color:#808080; }
.login-information div { display: inline;  }
.login-information .dropbtn { text-decoration: none; color:#000; cursor: pointer; padding-top: 10px; padding-bottom: 22px; padding-left: 15px; text-align: left; min-width: 260px; }
.login-information .dropbtn i { padding-right: 10px;  }
.login-information .dropdown { position: relative; display: inline-block !important; margin-right: 10px; }
.login-information .dropdown-content {  display: none; position: absolute; top:36px; right: 0; background-color: #000; min-width: 220px; z-index: 1; padding-top: 5px; }
.login-information .dropdown-content a { color: #999; padding: 12px 16px;  text-decoration: none; display: block; text-align: right; }
.login-information .dropdown-content a:hover { color:#d64639; }
.login-information .dropdown:hover .dropdown-content { display: block; }
.login-information .dropdown:hover .dropbtn { background-color: #000; color:#FFF; }
.uppercase { text-transform: uppercase; }
.section-text .btn { margin-right: 5px; }
.btn-margin-left { margin-left: 5px;  }
.bottom-margin { margin-bottom: 15px !important;  }
.margin-right { margin-right: 5px; }
.margin-left { margin-left: 5px; }
.text-small { font-size: 11px; }
.sep-gray { width: 100%; height: 1px; background: #989898;  }
.page-section-no-padding { padding: 0 !important;  }
.table-responsive { border: none;  }
input[type="radio"], input[type="checkbox"] { margin: 4px 4px 0; }
.hide-elm { display: none;  }

/** HEADER **/
/****************************************************************************************/
.header-custom { position: fixed; display: block; background: #FFF; height: 55px; width: 100%; z-index: 1030; }
.fm-lang { margin-top: 25px !important;  }
.fm-retail { margin-top: 0px !important; }

/** HOMEPAGE **/
/****************************************************************************************/
.homepage-slide-title {  font-weight: 900; }
.homepage-slide-subtitle { color:#000 !important;  }
.homepage-retailer-slide-subtitle { color:#FFF !important;  }
.homepage-our-title { font-size: 16px; margin-bottom: 60px; }
.homepage-our-text { font-size: 14px; }
.homepage-our-link a{ font-size: 12px; color: #808080; text-decoration: none; letter-spacing: 1px; }
.post-prev-more a{ text-decoration: none; text-transform: uppercase; font-size: 12px; letter-spacing: 1px;}
.homepage-slider-btn a{ margin-right: 15px; }
.homepage-slider-links { font-size: 20px; color:#FFF;  }
.homepage-slider-links a { text-decoration: none;  letter-spacing: 2px; color:#FFF; }

/** CAPRANEA **/
/****************************************************************************************/
.capranea-slide-title {  font-weight: 900; font-size: 36px !important; }
.capranea-slide-subtitle { color:#FFF; font-size: 24px !important; }

/** CATALOG **/
/****************************************************************************************/
.catalog-navigation{ position: fixed; margin-top: 55px; background: rgba(238,238,238, .9); height: 65px; width: 100%; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; z-index: 99; }
.catalog-navigation a{ display: block; float: left; overflow: hidden; vertical-align: middle; text-decoration: none; white-space: nowrap; cursor: default; height: 65px; width: 6%; border-left: 1px solid #FFF; text-align: center; }
.catalog-navigation a span{ background: none; font-size: 14px; color:#afafaf;  font-weight: 400; padding-top: 5px; padding-bottom: 5px; height: 65px; display: inline; line-height: 65px; cursor: pointer; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.catalog-search { width: 82% !important; text-align: left !important; }
.catalog-search span { padding-left: 15px !important; }
.catalog-navigation .search-wrap { padding-top: 15px; }
.catalog-navigation .search-field { background: none; border:none !important; margin-left: 35px; width: 50% !important; }
.catalog-navigation .disable { border:none !important; }
.catalog-navigation .search-button { left: 15px !important; top:35px !important; }
.post-prev-title a span { font-weight: 700; }
.work-grid-1.hide-titles .work-item .work-intro{ bottom: -80px; }
.work-grid-4.hide-titles .work-item .work-intro{ bottom: -120px; }
.work-grid-6.hide-titles .work-item .work-intro{ bottom: -100px; }
.work-grid-6.hide-titles .work-item:hover .work-intro{ bottom: -100px; }
.b-grid-change.active span{ color:#000 !important; }
.prod-title {  letter-spacing: 2px !important; margin-bottom: 5px; }
.prod-category { font-size: 12px; color:#d64639; letter-spacing: 1px; }
.prod-category a{  color:#d64639; text-decoration: none; }
.prod-reference { font-size: 10px; color:#808080; letter-spacing: 1px; }
.select-catalog { width: 40% !important; margin-left:15px; border-left: none !important; }
.select-catalog.last { margin-left: 0 !important; border-right: none; margin-left: -2px !important;}
.view-icon span{ font-size: 12px !important; font-weight: 300; }
.time-icon span{ font-size: 22px !important; font-weight: 300; }
.form-title { font-size: 12px; color: #141414; font-weight: 700; text-align: left; letter-spacing: 0.2px; padding-left: 10px; }
.check-title, .check-section { display: none; }
.product-description { margin-right: 15px; margin-left: 15px; margin-top: 20px; }
.prod-icons { border-top: 1px solid #949494; border-bottom: 1px solid #949494; }
.prod-size-title div { padding: 0; }
.prod-size a, .prod-color a  { display: inline-block; border-right:1px solid #949494; border-top:1px solid #949494; border-bottom:1px solid #949494; width: 45px; height: 42px; padding-left: 15px; padding-top: 11px; text-decoration: none; margin-right:0 !important; margin-left:-3px !important;  font-size: 11px; font-weight: 900; cursor: pointer; }
.prod-color a { padding-left: 13px; }
.prod-size a.last, .prod-color a.last { border-right:none; }
.prod-size a.active, .prod-color a.active { background-color: #e3e3e3; }
.prod-size a:hover, .prod-color a:hover { background-color: #e3e3e3; color:#000; }
.color-item { display: inline-block; width:20px; height: 20px;  }
.product-reversible { width: 100%; text-align: center; }
.product-reversible p { font-size: 13px; color:#808080; margin-bottom: 10px;}
.product-image { margin-bottom: 0 !important; }
.prod-color-small { margin-top: 10px; padding: 0 30px 0 30px; }
.prod-color-small div { display: inline-block; border:1px solid #949494;  width: 27px; height: 22px; padding-left: 1px; padding-right: 1px; padding-top: 5px; text-decoration: none; margin-right:0 !important; margin-left:-1px !important;  font-size: 11px; font-weight: 900; cursor: pointer; }
.color-item-small { display: inline-block; width:10px; height: 10px; margin-bottom: 5px;  }
a.color-item-small { padding: 0 !important; display: inline-block !important; }
.product-list-price span{ font-size: 12px; color:#666666; border-top: 1px solid #989898; border-bottom: 1px solid #989898; padding-top: 4px; padding-bottom: 4px; letter-spacing: 2px; }
.product-qty div{ padding: 0 !important; }
.product-qty p {  margin: 0; border-top: 1px solid #989898; border-bottom: 1px solid #989898;  border-right: 1px solid #989898; padding-top: 5px; padding-bottom: 5px;  font-weight: 700; color:#000; }
.product-qty input { margin: 0 !important; border: 1px solid #989898; height: 35px; border-left: none; border-right: none; padding-left: 5px; width: 100%; }
.product-qty a { margin: 0 !important; padding: 10px 13px; line-height: 1; }
.add-cart-info { color:#000; font-weight: 700; display: none; }
.stock-cart-info { color:#000; font-weight: 400; font-size: 12px; display: none; }
.product-qty-stock { color:#000; font-size: 12px; }
.red-stock { color: #000 !important; margin-right: 4px; }
.orange-stock { color: #faaf3b !important; margin-right: 4px; }
.green-stock { color: #39b44a !important; margin-right: 4px; }
.works-filter-custom { margin-top: 50px; font-size: 12px; }
.works-filter-main { font-size: 14px; }
.works-filter-main a:hover, .works-filter-main a:hover.active, .works-filter-main a.active { color:#000; }

/** CONTACTS **/
/****************************************************************************************/
.contacts-text { font-size: 14px; color:#000; }
.contacts-text span { font-size: 12px; font-weight: 700; }

/** BLOG **/
/****************************************************************************************/
.blog-navigation { background: #f7f7f7; }
.blog-navigation a span{ background: #f7f7f7; color:#959595; font-weight: 700; }

/** STORE LOCATOR **/
/****************************************************************************************/
.storelocator-margin { padding-top: 60px; }
.google-map-storelocator { display: none; }
.google-map-storelocator{ position: relative; background: #111; }
#map-canvas-storelocator{ height: 410px;  position: relative; background-color: #111 !important; z-index: 1; }
.storelocator-item { border-bottom: 1px solid #959595;  }
.storelocator-item h1 { font-size: 12px; color:#000; font-weight: 700; text-transform: uppercase; }
.storelocator-item p { font-size: 14px; color:#000; }

/** ONLINESHOP GLOBAL **/
/****************************************************************************************/
.steps-section { background: #f4f4f4; padding: 0 !important; }
.steps-section .step { padding-top: 20px; padding-bottom: 20px; border-left: 1px solid #FFF; }
.steps-section .step.sel { background: #d9d9d9;  }
.steps-section .step.last { border-right: 1px solid #FFF; }
.steps-section .step div { display: inline-block;  color:#000; font-size: 12px; font-weight: 700; background: #FFF; width: 20px; height: 20px; -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px; text-align: center; margin-right: 10px; }
.steps-section .step p { display: inline;  padding: 0; margin:0; font-size: 14px; color:#3c3c3b;  }

/** ONLINESHOP LOGIN **/
/****************************************************************************************/
.onlineshop-login { border-top: 1px solid #808080; border-bottom: 1px solid #808080;  }
.onlineshop-login-title { font-size: 14px; color:#808080; text-align: center; padding-bottom:0px; }
.no-border-top { border-top: none;  }

/** ONLINESHOP RETURNS **/
/****************************************************************************************/
.onlineshop-returns h2 { font-size: 12px; color:#000; font-weight: 700;  }
#order-information , #returns-success { display: none;  }
.returns-detail-box { padding: 20px; }

/** ONLINESHOP REGISTER **/
/****************************************************************************************/
.onlineshop-register { padding-top: 40px; padding-bottom: 0; }
.register-checkbox { font-size: 11px;  }

/** RETAILER LOGIN **/
/****************************************************************************************/
.retailer-login-title { font-size: 14px; color:#808080; text-align: center; padding-bottom: 70px; }
.retailer-login h2 { font-size: 12px; color:#000; font-weight: 700; padding-left: 15px;  }
.retailer-login a { color:#989898; }
.login_btn { text-align: right; }

/** SHOPPING CART **/
/****************************************************************************************/
.shopping-cart-table { font-size: 12px; }
.shopping-cart-table h6{ font-size: 12px; margin-bottom: 5px; }
.shopping-cart-table select { font-size: 11px; width: 75%; margin-bottom: 10px;  }

/** RETAILER CART **/
/****************************************************************************************/
.retailer-cart-total { font-size: 12px; }
.retailer-cart-total strong { color:#808080;}
.checkout-custom { font-size: 14px; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important; }
.conditions-box span{ color:#808080; }
.conditions-box a { color:#000;}
.conditions-box.conditions-error span{ color:#FF0000; }
.conditions-box.conditions-error a { color:#FF0000;}

/** RETAILER SHIPPING **/
/****************************************************************************************/
.delivery-section { display: none; }

.downloads h2 { padding-left: 0px; }
.downloads ul { list-style:none; padding:0 !important; margin: 0 !important;  }
.downloads ul li a{ float:left; width: 100%; padding: 10px 0 10px 0; margin-bottom: 10px; border:1px solid #000; text-decoration: none;  }
.downloads ul li span { padding-left: 20px; margin: 0px; color:#959595;  }
.downloads ul li span.download { float: right; padding-right: 20px; padding-left:0 !important; color:#000;  }
.downloads .image-title a { font-style: normal; text-transform: none; text-decoration: none; font-size: 11px; }
.downloads .image-title a span{ display: none !important; }
.payment-label { font-size: 12px; font-weight: 700; }

/** FOOTER **/
/****************************************************************************************/
.footer-menu-links{ font-size: 11px; border-top: 1px solid #959595; border-bottom: 1px solid #959595; padding-top: 5px; padding-bottom: 5px; text-transform: uppercase;}
.footer-menu-links a.main_link { position: relative; margin: 0 6px; text-align: center; display: inline-block; color: #959595; letter-spacing: 1px; }
.footer-menu-links a.main_link:after { content: "|";  display: inline-block; margin-left: 10px; }
.footer-menu-links a.main_link.last:after { content: "";  display: inline-block; margin-left: 0px; }
.footer-menu-links a.main_link:hover { color: #959595; text-decoration: none; }
.footer-text span { letter-spacing: 1px; }

.footer-menu-links .dropbtn:hover { text-decoration: none; }
.footer-menu-links .dropbtn i { padding-right: 10px;  }
.footer-menu-links .dropdown { position: relative; display: inline-block !important; }
.footer-menu-links .dropdown-content { display: none; position: absolute; top:15px; left: -8px; background-color: #000; z-index: 1; padding-top: 0px; min-width: 75px; text-align: left; }
.footer-menu-links .dropdown-content a { color: #999; padding: 10px 15px 0px 8px;  text-decoration: none; display: block; margin:0; }
.footer-menu-links .dropdown:hover .dropdown-content { display: block; }
.footer-menu-links .dropdown:hover .dropbtn { background-color: #000; color:#FFF; }


/** PAYPAL PAYMENT **/
/****************************************************************************************/
.paypal-h2 {  font-size: 16px !important; font-family: 'Lato', sans-serif !important; color:#111 !important; }

/** RESPONSIVE **/
/****************************************************************************************/
/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
	
	
}  

@media only screen and (max-width: 1200px) {
	
 
    
}
@media only screen and (max-width: 1199px) {

}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 992px) {

}


/* ==============================
   Tablet Portrait
   ============================== */
@media only screen and (max-width: 768px) {

	.capranea-slide-title { font-size: 24px !important; letter-spacing: 1px !important;   }
}


@media only screen and (max-width: 767px) {

	.capranea-slide-title { font-size: 24px !important; letter-spacing: 1px !important;   }
}



/* ==============================
   Phone
   ============================== */

@media only screen and (max-width: 480px) {

	.fm-wrapper-sub { width: 100%; }
	.fm-button.active { left: 320px; }
	.catalog-navigation a.b-grid-change { width: 15% !important; }
	.catalog-search { width: 55% !important; }
	.content-custom-text p, .content-custom-text h4 { padding:0 !important; }
	.contact-form { padding-top: 50px; }
	.contact-button { text-align: left !important; padding-top: 10px;  }
	.page-title-custom { margin-top: 60px; }
	.home-section { width: 100%; background-size: 100% 100%; height: 180px; }
	.padding-mobile-menu { width: 100%; height: 50px; }
	.prod-size a { width: 38px; height: 35px; padding-left: 13px; padding-top: 9px;  font-size: 11px; }

	.capranea-slide-title { font-size: 12px !important; letter-spacing: 1px !important;  }
	.capranea-slide-subtitle { font-size: 10px !important; }

	.works-grid.work-grid-gut .work-item { padding: 0; }
	.work-img { margin:0px !important; }
	.work-img img{ width: 100%; }

	.homepage-slider-links { font-size: 32px;  }

	.product-qty p { border: none; padding-bottom: 10px; }
	.product-qty a { margin-top: 20px !important; }




}

/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 319px) {
	
	.fm-wrapper-sub { width: 100%; }
	.fm-button.active { left: 320px;}
	.catalog-navigation a.b-grid-change { width: 15% !important; }
	.catalog-search { width: 55% !important; }
	.content-custom-text p, .content-custom-text h4 { padding:0 !important; }
	.contact-form { padding-top: 50px; }
	.contact-button { text-align: left !important; padding-top: 10px;  }
	.page-title-custom { margin-top: 60px; }
	.home-section { width: 100%; background-size: 100% 100%; height: 180px; }
	.padding-mobile-menu { width: 100%; height: 50px; }
	
	.capranea-slide-title { font-size: 12px !important; letter-spacing: 1px !important;   }

	.works-grid.work-grid-gut .work-item { padding: 0; }
	.work-img { margin:0px !important; }
	.work-img img{ width: 100%; }

	.homepage-slider-links { font-size: 32px;  }

	.product-qty p { border: none; padding-bottom: 10px; }
	.product-qty a { margin-top: 20px !important; }

}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 767px) {


}