/** COLOR GREEN **/
/****************************************************************************************/
.fm-wrapper-sub { background: #4b4a41; }
.fm-wrapper { background: rgba(91,90,81, .80); }

.footer { background: #4b4a41 !important; }
.bg-dark-alfa:before, .bg-dark-alfa .YTPOverlay:before{ background: rgba(91,90,81, .97) !important;}
.bg-dark-alfa-30:before, .bg-dark-alfa-30 .YTPOverlay:before{ background: rgba(91,90,81, .3) !important; }
.bg-dark-alfa-50:before, .bg-dark-alfa-50 .YTPOverlay:before{ background: rgba(91,90,81, .5) !important; }
.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{ background: rgba(91,90,81, .7) !important; }
.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before{ background: rgba(91,90,81, .9) !important; }

.footer-copy { color:#FFF !important; }
.homepage-our-link a { color:#FFF !important; }
.fm-menu-links a { color:#FFF !important; }
.fm-sub { background: #66655d !important; }


.fm-menu-links li > a:active, .fm-menu-links li.active > a, .fm-menu-links li a.active{ color: #d64639 !important; }
.no-touch .fm-menu-links a:hover, .fm-menu-links a:active, .fm-menu-links li.js-opened > a{ color: #d64639 !important; text-decoration: none; }